
/*      container for pictures    */
            .container {
                display: flex;
                justify-content: center;
                margin: 20px;
            }
            .image-container {
                display: center;
                margin: 20px;
                justify-content: center;
                align-items: center;
                max-width: 200px;
            }
            .image-container img {
                width: 100%;
                height: auto;
            }
            .caption {
                font-size: 16px;
                margin-top: 5px;
            }

/*             Body Specs        */
            body {
               /* display: flex; */
                justify-content: center;
                font-family: Arial, sans-serif;
                background-color: #7c8a7c;
                margin: 0;
            }
/*         Header and navigation   */
            .header {
                background-color: #f0e4da;
                color: #182118;
                padding: 10px;
                text-align: center;
            }
            .nav {
                display: flex;
                justify-content: center;
                list-style-type: none;
                padding: 15px;
                margin: 10px;
            }
            .nat li {
                margin: 10px 15px;
            }
            .nav a {
                color: #204f22;
                text-decoration: none;
                padding: 10px 20px;
                font-wieght: bold;
            }
            .nav a:hover {
                text-decoration: underline;
            }

/*             Paragraph specs       */
            p {
                margin: 25px 0;
                padding: 10px;
                text-indent: 40px;
                line-height: 1.6;
                font-size: 16px;
                text-align: center;
            }
            h1 {
                color: black;
                font-size: 24px;
                padding: 10px;
                text-align: center;
                margin: 16px 0;
            }
            h2 {
                color: black;
                font-size: 20px;
                padding: 10px;
                text-align: center;
                margin: 16px 0;
            }
            .tab {
                margin-left: 40px;
                line-height: 1.6;
            }

/*             Form container      */
            .form-container {
                width: 90%;
                max-width: 500px;
                height: auto;
                border: 1px solid #ccc;
                padding: 20px;
                border-radius: 8px;
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
                margin: auto;
                display: flex; 
                flex-direction: column; 
                align-items: center;
                justify-content: center;
            }
            input[type="text"], input[type="number"], button {
                width: 25%;
                padding: 10px;
                margin: 5px 0;
                border: 1px solid #ccc;
                border-radius: 4px;
            }
/*             Button Container */
            .button-container {
                display: center;
                flex-direction: column;
                gap: 10px;
                align-items: center;
                height: auto;
                margin: 0;
            }
            button {
                position: relative;
                width: 100%;
                background-color: #374f38;
                color: black;
                border: none;
                cursor: pointer;
            }
            button:hover {
                background-color: #242924;
            }
            
/*             Extra info when you hover over the buttons*/
            .extra-info { 
                visibility: hidden;
                position: absolute;
                bottom: 100%;
                left: 50%;
                transform: translateX(-50%);
                background-color: #242924;
                color: white;
                padding: 5px 10px;
                border-radius: 4px;
                font-size: 12px;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                width: max-content;
                white-space: nowrap;
                opacity: 0;
                transition: opacity 0.3s ease, visibility 0.3s ease;
            }
             button:hover .extra-info {
                visibility: visible;
                opacity: 1;
            }
/* Video Container */
            .video-container { 
                position: relative; 
                align: realtive;
                padding-bottom: 56.25%
                height: 0;
                overflow: hidden;
                max-width: 50%;
            }
             .video-container iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 50%;
                height: 50%;
            } 
                    
